.content {
	padding: 0;
}

.content-wrapper {
	background: #ffffff;
}

.box {
	border: 0;
	box-shadow: none;
	border-radius: 5px;
	background: #f5f5f5;
}

.box-body, .box-header, .box-footer {
	padding: 15px 31px;
}

.box-footer {
	background: inherit;;
}

.form-control {
	border-radius: 3px;
	height: 32px;
	border: solid 1px #e6e8ed;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
	border-radius: 4px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border-radius: 3px;
	height: 32px;
	border-color: #d2d6de !important;
}

.form-control:focus {
	border-color: #d2d6de;
}

.help-block {
	color: #9b9b9b;
	font-size: 14px;
}

a, a:hover, a:active, a:focus, legend {
	color: #47beaf;
}

legend {
	border: 0;
}

/* Checkboxes styles */

label.custom {
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
label.custom input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
label.custom .checkmark {
	position: absolute;
	top: 2px;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: #ffffff;
	border: 2px solid #d4d4d4;
	border-radius: 2px;
}

/* On mouse-over, add a grey background color */
label.custom:hover input ~ .checkmark {
	background-color: #d4d4d4;
}

/* When the checkbox is checked, add a blue background */
label.custom input:checked ~ .checkmark {
	background-color: #47beaf;
	border-color: #47beaf;
}

/* Create the checkmark/indicator (hidden when not checked) */
label.custom .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
label.custom input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
label.custom .checkmark:after {
	left: 4px;
	top: 0px;
	width: 4px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

label {
	font-weight: normal;
}

/** Checkboxes styles end **/


/** Button styles start **/

.btn {
	width: 180px;
	height: 36px;
	border-radius: 18px;
	border: 0;
}

.btn.btn-default {
	background: #d0d0d0;
}

.btn.btn-primary {
	background: #47beaf;
}

btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
	color: #fff;
	background-color: #47beaf;
	border: 0;
}

/** Button styles end **/

.filter-results {
	background: #ffffff;
	border: solid 1px #d0d0d0;
	border-radius: 5px;
}

.filter-results .box-title {
	color: #47beaf;
}

.filter-results .box {
	background: inherit;
}

.pagination-footer, .pagination-footer select {
	color: #9b9b9b;
	font-size: 12px;
}

.pagination-footer select {
	height: 32px;
	border-radius: 5px;
	background-color: #f6f6f6;
	box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.15);
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
	background-color: inherit !important;
}
